*.swp
*.aux
*.pyc
phd_thesis.bbl
phd_thesis.blg
phd_thesis.log
phd_thesis.out
phd_thesis.toc
phd_thesis.lof
phd_thesis.lot
phd_thesis.glg
phd_thesis.glo
phd_thesis.gls
phd_thesis.ist
.ipynb_checkpoints/
