*.swp
*.aux
*.pyc
phd_thesis.bbl
phd_thesis.blg
phd_thesis.log
phd_thesis.out
phd_thesis.toc
phd_thesis.lof
phd_thesis.lot
phd_thesis.glg
phd_thesis.glo
phd_thesis.gls
phd_thesis.ist
phd_thesis.acr
phd_thesis.acn
phd_thesis.alg
phd_thesis.nlg
phd_thesis.not
phd_thesis.ntn
.ipynb_checkpoints/
